<div class="container-fluid">
    <div class="container">
        <div class="col-md-6">
            <h2>Join to Get Started</h2>
            <p class="lead" style="font-size: 18px; line-height: 200%;">
               ChatApp is a real-time chat application built using Ruby on Rails and ActionCable. 
               It allows users to sign up, log in, create chat rooms, and send messages in real-time. 
               With private messaging, file sharing, and notifications, ChatApp provides a seamless 
               chatting experience. With its intuitive interface and rich features, 
               ChatApp redefines the way people interact online, making it a go-to platform for 
               socializing, collaborating, and staying connected.
            </p>
            <p class="lead">Join ChatApp now and start chatting with your friends or make new connections!</p>
        </div>
        <div class="col-md-6">
            <h2>Key Features of ChatApp</h2>
            <ul class="features">
                <li>Real-time Messaging: ChatApp enables instant messaging, allowing users to send and receive messages in real-time. Whether it's one-on-one conversations or group chats, communication is seamless and swift.</li>
                <li>Private Messaging: ChatApp ensures privacy by allowing private messaging between users. Individuals can have discreet and secure conversations without compromising their data.</li>
            </ul>

        </div>
    </div>
</div>