<div class="container-fluid">
    <section>
        <div class="container-fluid">
            <%= image_tag 'logo.jpg', class: 'img-fluid', style: 'width: 100%; max-height: 800px;', alt: 'Your Image' %>
        </div>
        <div class="container-fluid">
            <h2 class="display-2">Welcome to the home page</h2>
            <p class="lead"> ChatApp is a real-time chat application built using Ruby on Rails and ActionCable. It allows users to sign up, log in, create chat rooms, and send messages in real-time. With private messaging, file sharing, and notifications, ChatApp provides a seamless chatting experience.</p>
        </div>    
    </section>
</div>